/*Settings page styles.*/
#custom-type-list { margin: 20px 0; }
#custom-type-list li {
	padding: 10px;
	width: 25%;
	font-weight: bold;
 	cursor: move;

	border: 1px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background-color:#f7f7f7;
}
#custom-type-list li.breaker {
	background:none;
	margin:5px 0 25px;
	line-height:24px;
	border:none;
	font-size:22px;
	border-top:1px double #000;
	border-bottom:1px double #000;
}
#loading-animation { display: none; }

/*Field styles*/
.meta-row {
	border-bottom: 1px solid #e9e9e9;
	padding: 20px;
	overflow: hidden;
}
.hrm-textarea {
	height: 100px;
	width: 75%;
}
.meta-th {
	display: inline-block;
	float: left;
	width: 25%;
	font-weight: bold;
}
.meta-tr {
	display: inline-block;
	float: right;
	width: 75%;
}
.meta-editor {
	min-width: 75%;
	float: right;
}
/*quicktag styles*/
.quicktags-toolbar {
	margin-bottom: 5px;
	display: inline-block;
	float: left;
	background-color: #ffffff !important;
	border-bottom: none !important;
}


